.header {
	text-align:center;
}
.logo h1 {
	font-family: 'Allura', cursive;
	font-size: 63px;
	color: #ae0019;
	font-weight: normal;
}
.logo h5 {
font-family: 'Allura', cursive;
font-size: 29px;
color: #027c31;
margin-top: -15px;
font-weight: normal;
}
.navigation {
	position:relative;
	
}
.navigation .circle1 {
	position:relative;
	width:550px;
	margin: 0 auto;
}
.nav1 {
	text-align:center;
}

.navigation .circle1 .nav1 {
	position:absolute;
	min-width: 100px;
}
.circle1, .circle2, .circle3 {
	position:absolute;
}
.innercircle {
	position:relative;
	border-radius: 100%;
}

.circle2 {
	background: #ae0019;
	border-radius:100%;	
	width:330px;
	height:330px;
	left: 193px;
	top: 109px;
	box-shadow: 3px 3px 15px 1px #333;
}
.navigation .circle2 .nav1 {
	position:absolute;
}
.navigation .circle2 .nav1 a {
	color:#e07000;
	font-size:40px;
	-webkit-transition: all 1s;
	text-shadow: 3px 3px 12px #111;
}
.navigation {
position: relative;
width: 700px;
margin: 0 auto;
min-height: 530px;
margin-top: -25px;
-webkit-transition: all 1s;
}
div.circle3 {
    left: 70px;
    top: 69px;
    -webkit-transform: rotate(22deg);
}
.circle3 img {
    width: 195px;
    border-radius: 100%;
    box-shadow: 3px 3px 15px 1px #111;
}
.circle2 .nav1 a:hover {
    text-shadow: none;
}
.circle1 .nav1 a {
color: #007A31;
font-family: "Open Sans";
font-weight: bold;
font-size: 18px;
-webkit-transition:all 1s;
min-width: 100px;
}
.circle1 .nav1 a:hover {
	text-shadow: 1px 1px 6px #aaa;
	
	text-decoration: none;
}
div.maincontent {
    background: url("../img/bricks.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.img {
	width:100%;
}
@-webkit-keyframes rotations
{
from {transform:rotate(2deg);
-ms-transform:rotate(2deg); /* IE 9 */
-webkit-transform:rotate(2deg);}
to {transform:rotate(-2deg);
-ms-transform:rotate(-2deg); /* IE 9 */
-webkit-transform:rotate(-2deg);}
}

/* Standard syntax */
@keyframes rotations
{
from {transform:rotate(2deg);
-ms-transform:rotate(2deg); /* IE 9 */
-webkit-transform:rotate(2deg);}
to {transform:rotate(-2deg);
-ms-transform:rotate(-2deg); /* IE 9 */
-webkit-transform:rotate(-2deg);}
}
div.footer {
background: rgb(41, 41, 41);
}
.footer p {
color: white;
margin-top: 10px;
font-size: 12px;
}
.content {
min-height:500px;
}
.internalpage {

background:rgba(220, 109, 0, 0.17);
border-radius:25px;
}
.internalpage .internal {
padding:25px;
}
.internalpage .internal h2{
	color:#AE0019;
	font-size:40px;
	font-family: 'Allura', cursive;
}
.internalpage .internal p{
line-height: 200%;
font-size: 14px;
color: #007931;
font-weight: bold;
}
.internal p strong,.internal h4,.internal h5 {
    color: #AE0019;  
    font-size: 29px;  font-family: 'Allura', cursive;
}
.internal ul li {
    color: #007931;
}