@import url(http://fonts.googleapis.com/css?family=Allura);
@import url(http://fonts.googleapis.com/css?family=Merienda+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
 body {
    font-family: "Open Sans";
}
.header {
    text-align: center;
}
h3,
.h3 {
    font-size: 19px;
    font-weight: bold;
}
a {
    color: #AE0019;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
a:hover {
    color: #AE0019;
}
.logo a:hover {
    text-decoration: none;
}
.homemod a {
    text-decoration: none;
}
.homemod p {
    color: #007A31;
    font-size: 13px;
}
.homemod h3 {
    padding-bottom: 30px;
}
p {
    font-size: 12px;
    line-height: 180%;
    text-align: justify;
}
.navigation.smaller {
    margin: 0 0 0 2%;
    zoom: 55%;
    -moz-transform: scale(0.55) translateX(-205px) !important;
    margin-top: -210px;
}
.navigation.smaller .circle1 {
    opacity: 1;
}
.logo h1 {
    font-family: 'Allura', cursive;
    font-size: 63px;
    color: #ae0019;
    font-weight: normal;
}
.logo h5 {
    font-family: 'Allura', cursive;
    font-size: 29px;
    color: #027c31;
    margin-top: -15px;
    font-weight: normal;
}
.navigation {
    position: relative;
}
.navigation .circle1 {
    position: relative;
    width: 550px;
    margin: 0 auto;
}
.nav1 {
    text-align: center;
}
.navigation .circle1 .nav1 {
    position: absolute;
    min-width: 100px;
}
.circle1,
.circle2,
.circle3 {
    position: absolute;
}
.innercircle {
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.circle2 {
    background: #ae0019;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 330px;
    height: 330px;
    left: 193px;
    top: 109px;
    -webkit-box-shadow: 0px 0px 15px 1px #333;
    -moz-box-shadow: 0px 0px 15px 1px #333;
    box-shadow: 0px 0px 15px 1px #333;
}
.navigation .circle2 .nav1 {
    position: absolute;
}
.navigation .circle2 .nav1 a {
    color: #e07000;
    font-size: 40px;
    -webkit-transition: all 1s;
    text-shadow: 3px 3px 12px #111;
}
.navigation {
    position: relative;
    width: 700px;
    margin: 0 auto;
    min-height: 530px;
    margin-top: -25px;
    -webkit-transition: all 1s;
}
div.circle3 {
    left: 70px;
    top: 69px;
    -webkit-animation: rotatelogo 10s linear 0s infinite normal;
    -moz-animation: rotatelogo 10s linear 2s infinite normal;
    -o-animation: rotatelogo 10s linear 2s infinite normal;
    animation: rotatelogo 10s linear 2s infinite normal;
}
.circle3 img {
    width: 195px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 15px 1px #111;
    -moz-box-shadow: 0px 0px 15px 1px #111;
    box-shadow: 0px 0px 15px 1px #111;
}
.circle2 .nav1 a:hover {
    text-shadow: none;
}
.circle1 .nav1 a {
    color: #007A31;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: all 1s;
    min-width: 100px;
}
.circle1 .nav1 a:hover {
    text-shadow: 1px 1px 6px #aaa;
    text-decoration: none;
}
div.maincontent {
    background: url("../img/bricks.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.img {
    width: 100%;
}
@-webkit-keyframes rotations {
    from {
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        /* IE 9 */
        -webkit-transform: rotate(2deg);
    }
    to {
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        /* IE 9 */
        -webkit-transform: rotate(-2deg);
    }
}
/* Standard syntax */

@-moz-keyframes rotations {
    from {
        -moz-transform: rotate(2deg);
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        /* IE 9 */
        -webkit-transform: rotate(2deg);
    }
    to {
        -moz-transform: rotate(-2deg);
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        /* IE 9 */
        -webkit-transform: rotate(-2deg);
    }
}
@-o-keyframes rotations {
    from {
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        /* IE 9 */
        -webkit-transform: rotate(2deg);
    }
    to {
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        /* IE 9 */
        -webkit-transform: rotate(-2deg);
    }
}
@keyframes rotations {
    from {
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        /* IE 9 */
        -webkit-transform: rotate(2deg);
    }
    to {
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        /* IE 9 */
        -webkit-transform: rotate(-2deg);
    }
}
div.footer {
    background: rgb(41, 41, 41);
}
.footer p {
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
.content {
    min-height: 500px;
}
.internalpage {
    background: rgba(220, 109, 0, 0.06);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.internalpage .internal {
    padding: 25px;
}
.internalpage .internal h2 {
    color: #AE0019;
    font-size: 40px;
    font-family: 'Allura', cursive;
}
.internalpage .internal p {
    line-height: 200%;
    font-size: 15px;
    color: #007931;
    font-weight: 300;
}
.internal p strong,
.internal h4,
.internal h5 {
    color: #AE0019;
    font-size: 26px;
    font-family: 'Allura', cursive;
    font-weight: normal;
    letter-spacing: 1px;
    display: block;
    margin-top: 15px;
}
.internal ul,
.internal ol {
    color: #007931;
    line-height: 200%;
}
.language {
    position: absolute;
    right: 20px;
    font-family: "Open Sans";
    font-size: 12px;
    background: #027c31;
    padding: 15px;
    margin-right: 10px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    color: white;
    z-index: 10;
    cursor: pointer;
}
.container {
    position: relative;
}
.language.english {
    right: 94px;
}
.language:hover,
.language.active {
    background: #ae0019;
}
@-webkit-keyframes rotatelogo {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotatelogo {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes rotatelogo {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotatelogo {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.galleryimage {
    margin-bottom: 10px;
    -webkit-transition: all 0.4s;
    -webkit-filter: grayscale(0.8);
    cursor: pointer;
}
.galleryimage:hover {
    -webkit-filter: grayscale(0);
}
.gallerydiv {
    min-height: 220px;
}
.blackout {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 5% 0px;
    z-index: 10;
}
.blackout img {
    height: 500px;
    cursor: pointer;
}
ul.gallerycat li {
    background: rgba(224, 112, 0, 0.270588);
    text-align: center;
    cursor: pointer;
}
blockquote {
    display: inline-block;
    /* this and width auto make the width fit the size of the text */
    width: auto;
    margin: 1em;
    border: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Merienda One', cursive;
    font-size: 19px;
    color: #ae0019;
}
blockquote:before {
    font-size: 30px;
    color: #ae0019;
    content: open-quote;
    vertical-align: -0.25em;
}
blockquote:after {
    font-size: 30px;
    color: #ae0019;
    content: close-quote;
    vertical-align: -0.25em;
}
.quotes {
    position: absolute;
    left: 370px;
    margin-top: 35px;
    width: 855px;
    text-align: center;
}
.slider {
    margin: 10px 0 30px;
    -moz-transform: translateY(-120px);
}
.carousel-inner>.item>img {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.shadow {
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.shopper h3 {
    color: #AE0019;
    font-size: 26px;
    letter-spacing: 0px;
    display: block;
    margin-top: 20px;
    font-family: 'Allura', cursive;
    font-weight: 400;
    height: 30px;
    overflow: hidden;
}
.shopper h5 {
    color: #027c31;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
}
.shopper {
    text-align: center;
    margin-top: 35px;
}
.shopper img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.shopper>div {
    margin-bottom: 30px;
}
.shopper-cat {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-variant: small-caps;
    padding-bottom: 5px;
    border-bottom: 1px dashed #00450E;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav>li.active>a {
    text-decoration: none;
    color: white;
    background-color: #ae0019;
}
button.btn-shop {
    background: #027C31;
    color: white;
    font-size: 12px;
    padding: 6px 20px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
button.btn-shop:hover,
button.btn-shop:focus {
    background: #056229;
    color: white;
    outline: 0;
}
.padder .form-control {
    margin-bottom: 15px;
}
.ngdialog.ngdialog-theme-default {
    padding: 50px 0 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #FFFFFF;
}
.padder textarea {
    resize: vertical;
}