<div class="row" ng-show="template.englishactive=='active'">
    <div class="col-md-4">
        <div class="homemod animated fadeInUp">
            <a href="#/donate"><div class=""><img src="img/mod1.jpg" class="img img-thumbnail" /></div>
            <div class="modcontent">
                <h3>Donate for children</h3>
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel lorem ultricies, suscipit libero in, vehicula risus. Vivamus vitae interdum nunc. Aenean consectetur porta dolor et sagittis. </p>-->
            </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="homemod animated fadeInUp">
            <a href="#/shop"><div class=""><img src="img/mod2.jpg" class="img img-thumbnail" /></div>
            <div class="modcontent" >
                <h3>Shop</h3>
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel lorem ultricies, suscipit libero in, vehicula risus. Vivamus vitae interdum nunc. Aenean consectetur porta dolor et sagittis. </p>-->
            </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="homemod animated fadeInUp">
            <a href="#/donate"><div class=""><img src="img/mod3.jpg" class="img img-thumbnail" /></div>
            <div class="modcontent">
                <h3>Donate for family</h3>
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel lorem ultricies, suscipit libero in, vehicula risus. Vivamus vitae interdum nunc. Aenean consectetur porta dolor et sagittis. </p>-->
            </div>
            </a>
        </div>
    </div>
</div>




<div class="row" ng-show="template.marathiactive=='active'">
    <div class="col-md-4">
        <div class="homemod animated fadeInUp">
            <a href="#/donate"><div class=""><img src="img/mod1.jpg" class="img img-thumbnail" /></div>
                <div class="modcontent">
                    <h3>मुलांसाठी दान</h3>
<!--                    <p>हे पृष्ठ टिप्पणी पोस्ट करण्यासाठी आवश्यक आहे. इंटरनेट निवडा किंवा मोफत अप वाढवण्याची, फक्त आहे कसे, वाहने कार्य. कधीकधी जीवन आता राहतात. फक्त कंपनी आणि ग्राहकांच्या मुख्य गेट लक्षात ठेवा.</p>-->
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="homemod animated fadeInUp">
            <a href="#/shop"><div class=""><img src="img/mod2.jpg" class="img img-thumbnail" /></div>
                <div class="modcontent" >
                    <h3>दुकान</h3>
<!--                    <p>हे पृष्ठ टिप्पणी पोस्ट करण्यासाठी आवश्यक आहे. इंटरनेट निवडा किंवा मोफत अप वाढवण्याची, फक्त आहे कसे, वाहने कार्य. कधीकधी जीवन आता राहतात. फक्त कंपनी आणि ग्राहकांच्या मुख्य गेट लक्षात ठेवा.</p>-->
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="homemod animated fadeInUp">
            <a href="#/donate"><div class=""><img src="img/mod3.jpg" class="img img-thumbnail" /></div>
                <div class="modcontent">
                    <h3>कुटुंबासाठी देणगी</h3>
<!--                    <p>हे पृष्ठ टिप्पणी पोस्ट करण्यासाठी आवश्यक आहे. इंटरनेट निवडा किंवा मोफत अप वाढवण्याची, फक्त आहे कसे, वाहने कार्य. कधीकधी जीवन आता राहतात. फक्त कंपनी आणि ग्राहकांच्या मुख्य गेट लक्षात ठेवा.</p>-->
                </div>
            </a>
        </div>
    </div>
</div>