<div class="internalpage animated slideInRight">
    <div class="internal">
        <ul class="nav nav-pills categorynav shopper-cat">
            <li ng-class="" ng-repeat="category in content"><a ng-click="fetchproducts(category.ProductCategoryID)">{{category.Name}}</a>
            </li>
        </ul>
           
            <div class="shopper row">
                <div class="col-xs-3"  ng-repeat="product in products">
                    <img src="http://180.179.50.116/nareshwadi/media/images/content/{{product.Image}}" alt="" class="img-responsive">
                    <h3>{{product.Product}}</h3>
                    <h5>Rs.{{product.Amount}}</h5>
                    <button ng-click="orderForm();"></button>
                </div>
            </div>

    </div>
</div>